.container {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.div-table {
    background-color: #fff;
    color: #003866;
}

.div-table span.span-name, 
span.span-number, 
span.span-date {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 0.3px solid #ccc;
    color: #000;
    width: 150px;
    background-color: #2ebaee;
    color: #fff;
}

.name,
.number,
.date {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 0.3px solid #ccc;
    color: #000;
    background-color: #fff;
    width: 150px;
}

span.span-date,
.date {
    width: 300px;
}
